.content{
    border: 0px solid gray;
    border-radius: 3px;
    padding: 5px;
    margin: 0 auto;
    width: 70%;
    }

    .post{
        border-bottom: 1px solid rgb(134, 134, 134);
    
        
    }
    .post:last-child{
        border: 0;
    }

    .post h3{
        font-weight: bold;
        font-size: 20px;
        color: #2F84ED;
        
    }

    .post a.link{
        text-decoration: none;
        color: black;
        margin-left: 60px;
    }
    .post-text{
        letter-spacing: 1px;
        font-size: 15px;
        font-family: serif;
        color: gray;
        text-align: justify;
        margin-left: 60px;
    }
    .post-action{
        text-align: right;
        
    }

    .round { 
        border-radius: 50%; 
        margin-bottom: -100px;
    }

    
    .btnSave{
        position: right;
    }
    .post-star{
        margin-left: 60px;
    }

    .post-paginate{
        margin-left: -160px;
    }